
<html>
  <head>
	<title>Welcome to dataott.org | dataott.org</title>
	<link rel="stylesheet" href="{{STATIC_URL}}css/960.all.css"/>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/main.css"/>
	<!--[if IE]>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/ie.css"/>
  <![endif]-->

	<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon"/>

	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/app/need/feed"/>



  <meta name="layout" content="main"/>


	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-1.3.2.min.js"></script>

  </head>
  <body>
	<div id="container" class="container_12">

	  <div id="header" class="grid_12 alpha omega clearfix">
	  	{% block header %}
		<div class="grid_4 alpha">
		  <h1 id="logo"><a href="/">dataott.org</a></h1>
		</div>
		<div class="grid_8 omega alignright">
		  <div id="user_controls">Hi, <strong>Guest User</strong>.

		  &nbsp;<a href="/app/login/index">Sign in</a> | <a href="/app/register/index">Become a Member</a>
		  </div>
		  <div class="grid_4 alpha alignright">
			<a href="/requests/" id="btn_browse">Browse Requests</a> <a href="/requests/create" id="btn_create">Create Request</a>
		  </div>
		  <div class="grid_4 omega alignright">
			<form action="/app/search/index" id="search_form" method="get" name="search_form">
			  <input type="text" name="q" size="30" value="" id="q"/>&nbsp;<button type="submit">Search</button>
			</form>
		  </div>
		</div>
	  </div>
 	  	{% endblock header %}
	  <br clear="all"/>
	  <div id="content" class="clearfix">


  	{% block featured %}
	{% endblock featured %}

	{% block content %}
	{% endblock %}

	  </div>
	  <div id="footer">
		<a href="/">Home</a> | <a href="/requests/list">Browse Requests</a> | <a href="/requests/create">Create a Request</a> | <a href="//about">About the Site</a> | <a href="http://groups.google.com/group/dataott">Google Group</a> | <a href=" http://getsatisfaction.com/dataottorg">Report a Bug</a>&nbsp;
		<a rel="license" href="http://creativecommons.org/licenses/by/2.5/ca/"><img alt="Creative Commons License" style="border-width:0;vertical-align:middle" src="http://i.creativecommons.org/l/by/2.5/ca/80x15.png"/></a>
	  </div>
	  <p align="center"><a href="http://www.visiblegovernment.ca/"><img src="{{ STATIC_URL }}images/vg_hosting.png"/></a></p>
	</div>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jtags.jquery.js"></script>

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.pack.js"></script>


  </body>
</html>